@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: hsl(0, 0%, 100%);
    --bgc-02: hsl(0, 0%, 08%);
    --txt-01: hsl(0, 0%, 0%);
}

body {
    background-color: #63B390;
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #3E67AF;
    justify-content: space-between;
}


.logo {
    width: 100px;
    height: 50px;
    margin-right: 10px;
}

img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

ul li a:hover {
    color: #000000;
}

@import url("https://use.typekit.net/hfi1kak.css");

#title {
    text-align: center;
    padding-top: 50px;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: normal;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;

}
.grid-card a{
    text-decoration: none;
    color: black;
}
.grid-card img {
    aspect-ratio: 1 / 1;
    object-fit: cover;

}

.artiest-info {
    padding: 10%;
    background-color: #3E67AF;
    border-radius: 15px;
    transition: all ease-in-out 0.5s;
}

.artiest-info:hover {
    transform: scale(1.05);
}

footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #3E67AF;
    justify-content: space-between;
  }
  
  .footer-navigation ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-navigation li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-navigation li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-copyright {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
  
  .socialmedia svg {
    width: 40px;
    padding-left: 10px;
  }

.fotobizzey img {
height: 500px;
width: auto;
border: 12px solid #3E67AF;
}

.fotobizzey{
    padding: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fotobizzey p:last-child{
    padding: 40px;
    background-color:;
}
